footer
  .container.text-center
    p.float-left 2020 The Global Hack Hackathon
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/zebbra-repos/pandemia-government') GitHub Project
      li.list-inline-item
        a(href='https://github.com/zebbra-repos/pandemia-government/issues') Issues
      li.list-inline-item
        a(href='/contact') Contact
      li.list-inline-item
        a(href='#', role='button', id='resetSession' type='button') Reset Session
