div 
  h4 Voting
  .container.text-center.border.bg-light
    .row.text-center.m-1
      .col.text-center.text-secondary#votingMessage
    .row.text-center.mt-2
      .col.text-center
        button#vote-yes.btn.btn-success.w-100 yes
    .row.text-center
      .col.text-center
        button#vote-no.btn.btn-danger.w-100 no
    .row.text-center
      .col.text-center
        button#vote-skip.btn.btn-info.w-100 skip
    .row.text-center.m-2.mt-3.mb-4
      #votes-pie.w-100