div
  .container.text-center
    div.row.text-center
      div.col.text-center
        button.btn.btn-success.w-100 yes
    div.row.text-center
      div.col.text-center
        button.btn.btn-danger.w-100 no
    div.row.text-center
      div.col.text-center
        button.btn.btn-info.w-100 skip
    div.row.text-center.pt-3
      div#votes-pie.w-100