extends layout

block content
  .subpage
    .container
      a(href="/").menu
        .logo

      h1.header-subpage.text-center About us / Contact
      h2.subheader-subpage.text-center We are looking forward to your message!
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-12.text-center
      h3 Kontakt
      p <a href="https://twitter.com/PandemiaParl">https://twitter.com/PandemiaParl</a>
      p <a href="mailto:contact@pandemia-parliament.ch">contact@pandemia-parliament.ch</a>
      h3 About us
      p <a href="https://devpost.com/software/pandemia-parliament-ch">https://devpost.com/software/pandemia-parliament-ch</a>
  include partials/footer
