extends layout

block content
  .subpage
    .container
      a(href="/").menu
        .logo

      h1.header-subpage.text-center Lobby
      h2.subheader-subpage.text-center Please wait for your room to be available

  .main
    .container-fluid.pl-4.pr-4
      .row
        .col-md-12
          p.lead This is a showcase-version of Pandemia Parliament. You don't have access to the Session but you can talk with other politicians in the lobby. For a guided tour please
          a(href="contact") us.
      .row
        .col-md-2
            div.roster(style="display: none;")
        .col-md-10.text-center
            div#meet(data-bar="foo")&attributes({'data-foo': 'bar'})
      .row
        .col-md-1.roster2
  include partials/footer
