extends layout

block content
  h2 VersusVirus - The Pandemia Parliament
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-10
        h3 Waiting Room
    .col-md-2
        a.btn.btn-raised(href='#', role='button', id='gotosession') Go to session
  .row
    .col-md-1.roster

