extends layout

block content
  h2 VersusVirus - The Pandemia Parliament
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-10
        h3 Waiting Room
  .row
    .col-md-4
        div.roster(style="display: none;")
    .col-md-8
        div#meet(data-bar="foo")&attributes({'data-foo': 'bar'})

