extends layout

block content
  h2 VersusVirus - The Pandemia Parliament - Lobby
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-2
        h3 Left Section
        p 
        p
    .col-md-8
        a.btn.btn-raised(href='#', role='button', name='gotosession') Go to session
    .col-md-2
      h3 Right Section
      p 
      p
  .row
    .col-md-1
      h3 Bottom
      p
      p
