extends layout

block content
  h2 VersusVirus - The Pandemia Parliament - Register
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-6

  .row
    .col-md-1
      p Name
        input(id='registration_name')
  .row
    .col-md-6
      a.btn.btn-raised(href='#', role='button', id='after_registration') After Registration Click Here
