extends layout

block content
  h2 VersusVirus - The Pandemia Parliament - Register
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-6
    .col-md-6
        a.btn.btn-raised(href='#', role='button', id='after_registration') After Registration Click Here
  .row
    .col-md-1
      p Bottom
      p
      p
