extends layout

block content
  .subpage
    .container
      a(href="/")
        .logo
      h1.text-center Pandemia Government
      h2.subheader-subpage.text-center Please register to access the lobby
  .main
    .container
      .row
        .col-md-12.text-center
          p.lead Today we are playing the Swiss Parliament. Select a member of the national council to join the Lobby.
          p Search: 
            input(id='registration_name')
      .row
        .col-md-12.d-flex.justify-content-center
          div.registration_members_list Loading...
          //a.btn.btn-main.btn-raised(href='#', role='button', id='after_registration') Register
  include partials/footer
