extends layout

block content
  .subpage
    .container
      a(href="/").menu
        .logo
    include partials/flash
      h1.text-center Nationalratssaal
      h2.subheader-subpage.text-center You are in a live session
  .main
    //.container-fluid
        include partials/controls
    .container-fluid
      //include partials/controls
      .row
        .col-md-2
          include partials/agenda
        .col-md-8
          div#meet(data-bar="foo")&attributes({'data-foo': 'bar'})
          .row.mt-2.d-flex.flex-row.justify-content-center#sessionControl
            button.btn.btn-link.text-muted#requestToTalk(type="button" data-toggle="tooltip" data-placement="left" title="Request To Talk")
              i#requestToTalkIcon.fas.fa-hand-paper.fa-4x
            button.btn.btn-link.text-muted#startVote(type="button" data-toggle="tooltip" data-placement="right" title="Start or Reset Vote")
              i#startVoteIcon.fas.fa-inbox.fa-4x
        .col-md-2
          h4 Members Online
          div.membersRoster
            //a.btn.btn-raised(href='#', role='button') View details »
      .row.mt-3
        .col-md-12.text-center#votingMessage 
      .row.mt-3.votingElement
        .col-md-8.text-center
          svg#d3-parliament-svg
        .col-md-2
          include partials/vote
            doctype html
    include partials/footer
