extends layout

block content
  .subpage
    .container
      a(href="/").menu
        .logo

      h1.subheader-subpage.text-center Pandemia Government
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-1.text-center
    .col-md-10.text-center
      div#visitorview
        iframe(width='1200' height='800' src="https://www.youtube.com/embed/dP86IbcrVc0" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  include partials/footer