extends layout

block content
  .subpage
    .container
      a(href="/").menu
        .logo

      h1.text-center The Pandemia Parliament
      h2.subheader-subpage.text-center Welcome visitors!
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-1.text-center
    .col-md-10.text-center
      p.lead#visitorviewText Livestream of Swiss Parliament EXTRAORDINARY SESSION
      // iframe(width='560' height='315' src='https://www.youtube.com/embed/xxxx?autoplay=1&controls=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      div#visitorview(data-bar="foo")&attributes({'data-foo': 'bar'})
      p.lead This is a showcase-version of Pandemia Parliament. <br>Since most likely no active Session is running, you might be alone.<br>You can try to check out the <a href="/register">lobby</a> if some other people are waiting for the next session.

  include partials/footer
