extends layout

block content
  h2 VersusVirus - The Pandemia Parliament - Visitor
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-10
        div#visitorview(data-bar="foo")&attributes({'data-foo': 'bar'})
  .row
    .col-md-1
      p Visitor Bottom
      p
      p
