extends layout

block content
  h2 VersusVirus - The Pandemia Parliament - Visitor
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-10
        p.lead Lifestream of the currently running sitting
        div#visitorview(data-bar="foo")&attributes({'data-foo': 'bar'})
