extends layout

block content
  .subpage
    .container
      a(href="/").menu
        .logo

      h1.subheader-subpage.text-center Welcome visitors!
      //- h2.subheader-subpage.text-center Welcome visitors!
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-1.text-center
    .col-md-10.text-center
      p.lead#visitorviewText Livestream of Pandemia Government EXTRAORDINARY SESSION
      i#noVideoIcon.fas.fa-video-slash.fa-9x.text-muted
      div#visitorview(data-bar="foo")&attributes({'data-foo': 'bar'})
      p.lead This is a showcase-version of Pandemia Government. <br>Since most likely no active Session is running, you might be alone.<br>You can try to check out the <a href="/register">lobby</a> if some other people are waiting for the next session.

  include partials/footer
