extends layout

block content
  h2 VersusVirus - The Pandemia Parliament - Welcome
  //- p.lead The Pandemia Parliament
  - hr
  .row
    .col-md-10
        a.btn.btn-raised(href='#', role='button', id='visitor_access') Visitor
    .col-md-6
        a.btn.btn-raised(href='#', role='button', id='parliamentarian_access') Parliamentarian
  .row
    .col-md-1
      p Bottom
      p
      p
