svg .seat {
  cursor: pointer;
  transition: all 800ms;
}

/* European parliament colors */
svg .seat.gue-ngl { fill: #990000 }
svg .seat.sd { fill: #F0001C }
svg .seat.greens-efa { fill: #32CD32 }
svg .seat.alde { fill: #FFD700 }
svg .seat.epp { fill: #3399FF }
svg .seat.ecr { fill: #0054A5 }
svg .seat.efdd { fill: #40E0D0 }
svg .seat.enf { fill: #000000 }

/* French parliament colors */
svg .seat.com { fill: #990000; }
svg .seat.soc { fill: #D58490; }
svg .seat.eelv { fill: #32CD32; }
svg .seat.edsr { fill: #BF80FF; }
svg .seat.uc { fill: #B2C6FF; }
svg .seat.lr { fill: #4C6099; }

/* common */
svg .seat.vacant { fill: #FFFFFF }
svg .seat.no-party { fill: #909090; }