body {
  padding-top: 0;
  background: #F5F5F5; }

h1 {
  font-size: 4rem;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-weight: 800; }

h2 {
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-weight: 600; }

p, a {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  color: #356066; }

a:hover {
  color: #033840; }

.lead {
  padding-top: 30px;
  padding-bottom: 20px; }

#jitsiConferenceFrame0 {
  border: 20px !important;
  border-color: white !important;
  border-style: solid !important; }

.main {
  padding-top: 2rem; }

.header {
  margin-bottom: 4rem;
  margin-top: 5rem; }

.header-subpage {
  padding-top: 0rem;
  margin-bottom: 2rem;
  margin-top: -40px; }

.subheader {
  margin-bottom: 100px; }

.subheader-subpage {
  padding-bottom: 4rem; }

img {
  width: 100%; }

.logo {
  background-size: contain;
  height: 100px;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat; }

.subpage {
  background: #356066; }

.btn-main {
  background: #356066 !important;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
  color: white;
  border: white 0.5rem solid;
  width: 300px; }

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("video.jpg") center center/cover no-repeat; } }
